<ng-include src="'angular/shared/header.html'" />

<div class="container body-content">
    <div ng-init="vm.activate()" class="col-md-6 col-md-offset-3">
        <h2>New class</h2>
        <form name="form" ng-submit="form.$valid && vm.createEvent()" novalidate>

            <div class="form-group" ng-class="{ 'has-error': form.$submitted && form.subject.$invalid }">
                <label for="subject">Subject</label>
                <input type="text" name="subject" id="subject" class="form-control" ng-model="vm.subject" required />
                <div ng-messages="form.$submitted && form.subject.$error" class="help-block">
                    <div ng-message="required">Subject is required</div>
                </div>
            </div>

            <div class="dropdown form-group" ng-class="{ 'has-error': form.$submitted && form.startTime.$invalid }">
                <label for="selectedPartner">{{vm.partnerLabel}}</label>
                <select ng-options="item as item.Name for item in vm.partners track by item.Id" ng-model="vm.selectedPartner"
                        class="form-control"
                        id="selectedPartner" name="selectedPartner"></select>
                <div ng-messages="form.$submitted && form.selectedPartner.$error" class="help-block">
                    <div ng-message="required">Start Time is required</div>
                </div>
            </div>

            <div class="dropdown form-group" ng-class="{ 'has-error': form.$submitted && form.startTime.$invalid }">
                <label>Start Date</label>
                <a class="dropdown-toggle" id="dropdownStart" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group date">
                        <input type="text" class="form-control" data-ng-model="vm.startTime">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.startTime"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownStart' }"></datetimepicker>
                </ul>
                <div ng-messages="form.$submitted && form.startTime.$error" class="help-block">
                    <div ng-message="required">Start Time is required</div>
                </div>
            </div>

            <div class="dropdown form-group" ng-class="{ 'has-error': form.$submitted && form.endTime.$invalid }">
                <label>End Date</label>
                <a class="dropdown-toggle" id="dropdownEnd" role="button" data-toggle="dropdown" data-target="#">
                    <div class="input-group date">
                        <input type="text" class="form-control" data-ng-model="vm.endTime">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker data-ng-model="vm.endTime"
                                    data-datetimepicker-config="{ dropdownSelector: '#dropdownEnd' }"></datetimepicker>
                </ul>
                <div ng-messages="form.$submitted && form.endTime.$error" class="help-block">
                    <div ng-message="required">End Time is required</div>
                </div>
            </div>

            <div class="form-group">
                <button ng-disabled="vm.loading" class="btn btn-primary">Create</button>
            </div>
            <div ng-if="vm.error" class="alert alert-danger">{{vm.error}}</div>
        </form>
    </div>
</div>