<ng-include src="'angular/shared/header.html'" />

<div class="container body-content">
    <div ng-init="vm.activate()" class="col-md-6 col-md-offset-3">
        <h2>Class {{vm.classId}}</h2>
        <div>Subject: {{vm.class.Subject}}</div>
        <div class="row">
            <div class="col-md-6">Tutor: {{vm.class.TutorName}}</div>
            <div class="col-md-6">Student: {{vm.class.StudentName}}</div>
        </div>
        <div class="row">
            <div class="col-md-6">From {{vm.class.StartTime}}</div>
            <div class="col-md-6">To {{vm.class.EndTime}}</div>
        </div>
        <button type="button" class="btn btn-primary" ng-click="vm.edit()">Edit</button>
        <button type="button" class="btn btn-danger" ng-click="vm.deleteEvent()">Delete</button>
    </div>
</div>