<div ng-app="app" ng-controller="Home.IndexController as home">
    <div class="container body-content">
        <ui-view></ui-view>
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</div>