<ng-include src="'angular/shared/header.html'" />

    <div class="container body-content">
<div ng-init="vm.activate()">
    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="home.events" calendar="classesCalendar"></div> 
    <h2>Classes list</h2>
    <div ng-repeat="class in home.classes">
        <div class="container">
            <div class="row">
                <div class="col">
                    Class {{class.Id}}: {{class.Subject}}
                </div>
                <div class="col">
                    {{class.StartTime}} - {{class.EndTime}}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

