<ng-include src="'angular/shared/header.html'" />

<div ng-init="home.activate()">
    <h2>Classes</h2>
    <div ng-repeat="class in home.classes">
        <div class="container">
            <div class="row">
                <div class="col">
                    Class {{class.Id}}: {{class.Subject}}
                </div>
                <div class="col">
                    {{class.StartTime}} - {{class.EndTime}}
                </div>
            </div>
        </div>
    </div>

    <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="hoem.events" calendar="classesCalendar"></div> 
</div>

